mat-card {
    margin: 26px;
    width: 300px; 
    height: 550px; 
    background-color: #f5f5f5;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s easel
  }
.mat-card-image{
    height: 300px;
    width: 200px;
    margin: 20px;
  }
  mat-card:hover {
    border: 1px solid #000000;
    box-shadow: 40px 40px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }