<mat-toolbar color="primary">
    <button mat-button routerLink="/movies" style="margin-right: 50px;">TicketBookingSystem</button>
    <button mat-button routerLink="/movies">Movies</button>
    <button mat-button routerLink="/aboutus">AboutUs</button>
    
        
    <div class="search-container">
      <mat-form-field style="margin-right: 50px;">
        <input matInput placeholder="Search" aria-label="Search" >
      </mat-form-field>
      <button mat-button [matMenuTriggerFor]="menu" style="margin-right: 50px;">Profile</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Tarun</button>
        <button mat-menu-item>Booked Tickets</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  