.filter-container {
    margin: 50px; 
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .filter-content {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
  }
  
  mat-chip-list {
    display: flex;
    gap: 250px;
  }

  .sort-dropdown {
    width: 200px; 
    margin-left: auto;
  }
  