.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .not-found-image {
    max-width: 100%;
    height: auto;
  }
  